h1{
    color: blue;
}
.akshi{
    border: 5px red ;
    padding: 20px;
    width: 50%;
    background-color: aqua;
    background-image: url(https://live-production.wcms.abc-cdn.net.au/d7323063d86b711562b76e012ad4d970?impolicy=wcms_crop_resize&cropH=2548&cropW=2548&xPos=1142&yPos=0&width=862&height=862);
}
