body{
    background: url(https://www.w3schools.com/w3images/wedding_couple.jpg) no-repeat center/cover;
    color:whitesmoke;
}
.akshi{
    
    text-align: center;
    font-size: 40px;
    margin-top: 370px;

}
.a{
    text-align: center;
    font-size: large;

}
.b{
    text-align: center;
    font-size: 18px;
}